:root {
  --primary-color: #fff;
  --secondary-color: #00a3cc;
  --background: #f0f0f0;
  --font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background-color: var(--background);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.6rem;
}

a {
  color: var(--secondary-color);
}

h3 {
  color: #41464a;
  font-size: 18px;
}

h4 {
  color: #41464a;
  font-size: 22px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  background: transparent;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 1.16rem 4.2rem;
  cursor: pointer;
}
.button--primary {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--secondary-color);
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.16);
}
.button--primary:hover {
  background: rgba(255, 255, 255, 0.4);
}

header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  max-height: 100px;
}
header__logo {
  margin-left: 4%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #MobileMenuBTN {
  padding: 10px;
}
@media screen and (min-width: 800px) {
  header #MobileMenuBTN {
    display: none;
  }
}

.desktop-menu {
  display: none;
}
.desktop-menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 10px;
}
.desktop-menu__link {
  padding: 6px 10px;
  text-decoration: none;
  font-size: 1rem;
}
.desktop-menu__link__hover {
  text-decoration: underline;
}
.desktop-menu__link.active {
  font-weight: 800;
  text-decoration: underline;
}
.desktop-menu__button {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 5px;
  font-size: 0.8rem;
  border-radius: 3px;
  font-weight: 800;
}
@media screen and (min-width: 800px) {
  .desktop-menu {
    display: block;
  }
}

.header-login {
  display: none;
}
.header-login a {
  font-size: 1rem;
  color: var(--secondary-color);
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  text-decoration: none;
  padding-right: 2px;
}
@media screen and (min-width: 800px) {
  .header-login {
    display: block;
  }
}

#mobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  transform: translate(620px);
  transition: transform 0.25s;
}
#mobileMenu.is-active {
  visibility: visibility;
  transform: translate(0);
}
#mobileMenu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 20vw;
  padding: 4rem;
}
#mobileMenu__link {
  display: block;
  padding: 1.6rem 4rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
#mobileMenu__link:hover {
  background-color: #0353bb;
}
#mobileMenu__link .mobile-nav-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  width: 100%;
}

.hero {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  margin-bottom: 5%;
}
.hero__container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 240px;
}
.hero__card {
  background-color: #fff;
  border-radius: 8px;
  margin: 7px;
  padding: 0;
  width: 300px;
  height: 260px;
  box-shadow: 1px 8px 15px -1px rgba(0, 0, 0, 0.49);
}
.hero__card .bottom {
  background-color: var(--secondary-color);
  align-items: center;
  justify-content: center;
  width: 98%;
  text-align: center;
  padding: 3px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.hero__card .bottom a {
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.hero__card img {
  height: 150px;
  align-self: center;
  justify-self: center;
}
.hero__card h5 {
  margin-left: 6px;
  height: 21px;
  width: 200px;
  overflow: hidden;
  font-size: 1.2rem;
  color: #000;
}
.hero__card p {
  margin-left: 6px;
  margin-top: -25px;
  font-size: 0.9rem;
  color: #777777;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}
.login__table {
  padding: 10px;
  background-color: #fff;
  width: 300px;
  border-radius: 5px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #d7dde2;
}
.login__table h1 {
  text-align: center;
  font-size: 37px;
  color: #777777;
  font-weight: 600;
}
.login__table .email_login {
  width: 97%;
  margin-right: 3px;
  border-radius: 3px;
  margin-bottom: 6px;
  font-size: 15px;
  height: 35px;
  padding: 4px;
  color: #777777;
  border: 2px solid #d7dde2;
}
.login__table .button_login {
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
}
.login__table .registrar {
  font-size: 1rem;
  text-decoration: none;
}
