:root{
    --primary-color: #fff;
    --secondary-color: #00a3cc;
    --background: #f0f0f0;
    --font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    background-color: var(--background);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.6rem;
}

a{
    color: var(--secondary-color);
}

h3{
    color: #41464a;
    font-size: 18px
}

h4{
    color: #41464a;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.button{
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 1px;
    text-align: center;
    background: transparent;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 1.16rem 4.2rem;
    cursor: pointer;

    &--primary{
        background-color: rgba(255,255,255,0.2);
        border: 1px solid var(--secondary-color);
        box-shadow: 0px 8px 6px rgba(0,0,0,0.16);

        &:hover{
            background: rgba(255,255,255,0.4);
        }
    }
}

header{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 20px;
    max-height: 100px;

    &__logo{
        margin-left: 4%;
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #MobileMenuBTN{
        padding: 10px;
    }

    @media screen and(min-width: 800px) {
        #MobileMenuBTN{
            display: none;
        }
    }
}

.desktop-menu{
    display: none; 

    ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        gap: 10px;
    }

    &__link{
        padding: 6px 10px;
        text-decoration: none;
        font-size: 1.0rem;

        &__hover{
            text-decoration: underline;
        }

        &.active{
            font-weight: 800;
            text-decoration: underline
        }
    }

    &__button{
        background-color: var(--secondary-color);
        color: var(--primary-color);
        text-transform: uppercase;
        text-decoration: none;
        padding: 6px 5px;
        font-size: 0.8rem;
        border-radius: 3px;
        font-weight: 800;
    }

    @media screen and(min-width: 800px) {
        display: block;
    }
}

.header-login{


    .divisor{
        padding-left: 10px;
        padding-right: 10px;
    }

    a{
        font-size: 1.0rem;
        color: var(--secondary-color);
        text-decoration: uppercase;
        text-decoration: none;
        padding-right: 2px;


    }

    @media screen and(min-width: 800px){
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#mobileMenu{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    transform: translate(620px);
    transition: transform 0.25s;

    &.is-active{
        visibility: visibility;
        transform: translate(0);
    }

    ul{
        padding: 0;
        margin: 0;
        list-style-type: none;
        background-color: var(--primary-color);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 20vw;
        padding: 4rem;
    }

    &__link{
        display: block;
        padding: 1.6rem 4.0rem;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;

        &:hover{
            background-color: rgb(3, 83, 187);
        }

        .mobile-nav-close{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            backdrop-filter: blur(4px);
            width: 100%;
        }
    }
}

.hero{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    margin-bottom: 5%;

    &__container{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        height: 240px;
    }


    &__card{
        background-color: #fff;
        border-radius: 8px;
        margin : 7px;
        padding: 0;
        width: 300px;
        height: 260px;
        -webkit-box-shadow: 1px 8px 15px -1px rgba(0,0,0,0.49); 
        box-shadow: 1px 8px 15px -1px rgba(0,0,0,0.49);
        
        .bottom{
            background-color: var(--secondary-color);
            align-items: center;
            justify-content: center;
            width: 98%;
            text-align: center;
            padding: 3px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
                
            a{
                font-size: 1.1rem;
                font-weight: 700;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
                text-decoration: none;
                
            }
        }

        img{
            height: 150px;
            align-self: center;
            justify-self: center;
        }

        h5{
            margin-left: 6px;
            height: 21px;
            width: 200px;
            overflow: hidden;
            font-size: 1.2rem;
            color: #000;
        }

        p{
            margin-left: 6px;
            margin-top: -25px;
            font-size: 0.9rem;
            color: rgb(119, 119, 119);
        }
    }

}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;

    &__table{
        padding: 10px;
        background-color: #fff;
        width: 300px;
        border-radius: 5px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border: 1px solid #d7dde2;

        h1{
            text-align: center;
            font-size: 37px;
            color: rgb(119, 119, 119);
            font-weight: 600;
            
        }
        .email_login{
            width: 97%;
            margin-right: 3px;
            border-radius: 3px;
            margin-bottom: 6px;
            font-size: 15px;
            height: 35px;
            padding: 4px;
            color: rgb(119, 119, 119);
            border: 2px solid #d7dde2;
        }

        

        .button_login{
            background-color: var(--secondary-color);
            padding: 5px;
            border-radius: 5px;
            font-size: 15px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 800;
        }

        .registrar{
            font-size: 1rem;
            text-decoration:none;
        }
    }
}
.message {
    display: block;
    margin: 3%;
    padding-left: 1%;
    background: rgb(144,238,144);
    color: #fff;
    border-radius: 6px;

    h5{
        color: #fff;
    }
}

.finaliza{
    margin-top: 2%;
    margin-right: 2%;
    display: block;
    justify-content: flex-end;
    align-items: right;
}

.btnCaixa{
    display: block;
    background: rgb(9, 202, 9);
    margin-bottom: 1%;
    width: 25%;
    align-items: center;
    border-radius: 5px;
    text-align: center;


    a{
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        font-weight: 700;

    a:hover{
        text-decoration: none;
        color: #fff;
        }
    }
}

.content{
    display: block;
    justify-content: center;
    align-items: center;

}

.customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        
        td, th {
        border: 1px solid #ddd;
        padding: 8px;
        }
    
        tr:nth-child(even){
            background-color: #f2f2f2;
        }
    
        tr:hover {
            background-color: #ddd;
        }
    
        th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #04AA6D;
        color: white;
    }
} 

.data{
    width: 80%;
    margin: 3%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);

    h1{
        text-align: center;
        font-size: 45px;
        color: #2e2d2d;
    }

    p{
        font-weight: 700;
        margin-bottom: 0;
        margin-left: 2%;
    }


    &__fields{
        padding: 1% 3%;
        font-size: 20px;

        input{
            display: block;
            text-transform: uppercase;
            border-radius: 3px;
            width: 100%;
            height: 25px;
            border: 1px solid #ddd;
            padding-left: 3%;
            font-size: 17px;
            color:rgb(119, 119, 119);
            font-weight: 700;
        }
    }
    
}